#content {
  margin: 0 auto;
  width: 900px;
}

h1{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

p{
  font-family: Georgia, serif;
  font-size: 13px;
}

#byline{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

img{
  max-width: 100%;
  height: auto;
}
